<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="siteName" value="Whois.innovacube.com"/>
    <add key="adminMail" value="xfreestyler@gmail.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorDocs/500.htm">
      <error statusCode="404" redirect="ErrorDocs/911.htm"/>
      <error statusCode="403" redirect="ErrorDocs/403.htm"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>